#bannerDiv {
    display: flex;
    justify-content: center;
}

.table {
    margin: 0px auto;
}

.gameButton {
    width: 400px;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 0px 0px;
}

.gameImage {
    width: 400px;
}


.godotText {
    color: blue;
    font-size: 20px;
    font-family: "Lucida Console";
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
  padding: 15px;
}

#banner {
    width: 500px;
}

#three-frame {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    border: 2px solid #444;
}